[
 {:soal
  {:soal-text
   "\n\n\n\n<p>\n    Isi blank di persamaan ini : <br>\n    35 + 14 = ___ <br>\n</p>\n\n",
   :options
   [[true "49 " 0]
    [false "48 " 1]
    [false "46 " 2]
    [false "47" 3]
    [false "51 " 4]],
   :jawaban "A"},
  :bahas
  "\n\n<p>\n\n    Sebenernya ini sederhana aja kan 35 + 14 = 49 <br>\n    Nah yang penting gimana caranya supaya cepet dan kreatif. <br>\n    Beberapa contoh : (Jangan diapal tapi ya!) <br><br>\n    - Puluhan tambah puluhan aja dulu <br>\n    - Baru tambah satuan +  satuan <br>\n    - Kalo hasil satuan + satuan > 10 ya tinggal tambahin ke hasil jumlah puluhan <br>\n</p>",
  :template-id "8adb2d70406011eb922226635d7a8a5f",
  :topic :math,
  :problem-id "565ba267468611eba53b81e59324e143"} 
 {:soal
   {:soal-text
    "\n\n\n\n<p>\n    Isi blank di persamaan ini : <br>\n    20 + 14 = ___ <br>\n</p>\n\n",
    :options
    [[true "34 " 0]
     [false "44 " 1]
     [false "35 " 2]
     [false "43" 3]
     [false "33 " 4]],
    :jawaban "A"},
   :bahas
   "\n\n<p>\n\n    Sebenernya ini sederhana aja kan 20 + 14 = 34 <br>\n    Nah yang penting gimana caranya supaya cepet dan kreatif. <br>\n    Beberapa contoh : (Jangan diapal tapi ya!) <br><br>\n    - Puluhan tambah puluhan aja dulu <br>\n    - Baru tambah satuan +  satuan <br>\n    - Kalo hasil satuan + satuan > 10 ya tinggal tambahin ke hasil jumlah puluhan <br>\n</p>",
   :template-id "8adb2d70406011eb922226635d7a8a5f",
   :topic :math,
   :problem-id "565ba267468611eba53b81e59324e143"}
 {:soal
  {:soal-text
   "\n\n\n\n<p>\n    Isi blank di persamaan ini : <br>\n    35 + 14 = ___ <br>\n</p>\n\n",
   :options
   [[true "49 " 0]
    [false "48 " 1]
    [false "46 " 2]
    [false "47" 3]
    [false "51 " 4]],
   :jawaban "A"},
  :bahas
  "\n\n<p>\n\n    Sebenernya ini sederhana aja kan 35 + 14 = 49 <br>\n    Nah yang penting gimana caranya supaya cepet dan kreatif. <br>\n    Beberapa contoh : (Jangan diapal tapi ya!) <br><br>\n    - Puluhan tambah puluhan aja dulu <br>\n    - Baru tambah satuan +  satuan <br>\n    - Kalo hasil satuan + satuan > 10 ya tinggal tambahin ke hasil jumlah puluhan <br>\n</p>",
  :template-id "8adb2d70406011eb922226635d7a8a5f",
  :topic :math,
  :problem-id "565ba267468611eba53b81e59324e143"} 
 {:soal
    {:soal-text
     "\n\n\n\n<p>\n    Isi blank di persamaan ini : <br>\n    34 + ___ = 62 <br>\n</p>\n\n",
     :options
     [[false "30 " 0]
      [false "27 " 1]
      [false "26 " 2]
      [false "25" 3]
      [true "28 " 4]],
     :jawaban "E"},
    :bahas
    "\n\n<p>\n\n    Sebenernya ini sederhana aja kan 34 + 28 = 62 <br>\n    Nah yang penting gimana caranya supaya cepet dan kreatif. <br>\n    Beberapa contoh : (Jangan diapal tapi ya!) <br><br>\n    - Puluhan tambah puluhan aja dulu <br>\n    - Baru tambah satuan +  satuan <br>\n    - Kalo hasil satuan + satuan > 10 ya tinggal tambahin ke hasil jumlah puluhan <br>\n</p>",
    :template-id "8adb2d70406011eb922226635d7a8a5f",
    :topic :math,
    :problem-id "565ba262468611eba53b81e59324e143"} 
 {:soal
   {:soal-text
    "\n\n\n\n<p>\n    Isi blank di persamaan ini : <br>\n    34 + ___ = 50 <br>\n</p>\n\n",
    :options
    [[false "15" 0]
     [false "6 " 1]
     [false "26 " 2]
     [false "17" 3]
     [true "16 " 4]],
    :jawaban "E"},
   :bahas
   "\n\n<p>\n\n    Sebenernya ini sederhana aja kan 34 + 16 = 50 <br>\n    Nah yang penting gimana caranya supaya cepet dan kreatif. <br>\n    Beberapa contoh : (Jangan diapal tapi ya!) <br><br>\n    - Puluhan tambah puluhan aja dulu <br>\n    - Baru tambah satuan +  satuan <br>\n    - Kalo hasil satuan + satuan > 10 ya tinggal tambahin ke hasil jumlah puluhan <br>\n</p>",
   :template-id "8adb2d70406011eb922226635d7a8a5f",
   :topic :math,
   :problem-id "565ba262468611eba53b81e59324e143"}
 {:soal
   {:soal-text
    "\n\n\n\n<p>\n    Isi blank di persamaan ini : <br>\n    ___ + 19 = 66 <br>\n</p>\n\n",
    :options
    [[false "46 " 0]
     [false "38" 1]
     [false "48 " 2]
     [false "37" 3]
     [true "47 " 4]],
    :jawaban "E"},
   :bahas
   "\n\n<p>\n\n    Sebenernya ini sederhana aja kan 47 + 19 = 66 <br>\n    Nah yang penting gimana caranya supaya cepet dan kreatif. <br>\n    Beberapa contoh : (Jangan diapal tapi ya!) <br><br>\n    - Puluhan tambah puluhan aja dulu <br>\n    - Baru tambah satuan +  satuan <br>\n    - Kalo hasil satuan + satuan > 10 ya tinggal tambahin ke hasil jumlah puluhan <br>\n</p>",
   :template-id "8adb2d70406011eb922226635d7a8a5f",
   :topic :math,
   :problem-id "565ba262468611eba53b81e59324e143"}
 {:soal
  {:soal-text
   "\n\n\n\n<p>\n    Isi blank di persamaan ini : <br>\n    29 + 10 = ___ <br>\n</p>\n\n",
   :options
   [[false "38 " 0]
    [true "39 " 1]
    [false "41 " 2]
    [false "37 " 3]
    [false "40" 4]],
   :jawaban "B"},
  :bahas
  "\n\n<p>\n\n    Sebenernya ini sederhana aja kan 29 + 10 = 39 <br>\n    Nah yang penting gimana caranya supaya cepet dan kreatif. <br>\n    Beberapa contoh : (Jangan diapal tapi ya!) <br><br>\n    - Puluhan tambah puluhan aja dulu <br>\n    - Baru tambah satuan +  satuan <br>\n    - Kalo hasil satuan + satuan > 10 ya tinggal tambahin ke hasil jumlah puluhan <br>\n</p>",
  :template-id "8adb2d70406011eb922226635d7a8a5f",
  :topic :math,
  :problem-id "565ba2bf468611eba53b81e59324e143"}
 {:soal
  {:soal-text
   "\n\n\n\n<p>\n    Isi blank di persamaan ini : <br>\n    29 + 19 = ___ <br>\n</p>\n\n",
   :options
   [[false "38 " 0]
    [true "48 " 1]
    [false "47 " 2]
    [false "36 " 3]
    [false "49" 4]],
   :jawaban "B"},
  :bahas
  "\n\n<p>\n\n    Sebenernya ini sederhana aja kan 29 + 19 = 48 <br>\n    Nah yang penting gimana caranya supaya cepet dan kreatif. <br>\n    Beberapa contoh : (Jangan diapal tapi ya!) <br><br>\n    - Puluhan tambah puluhan aja dulu <br>\n    - Baru tambah satuan +  satuan <br>\n    - Kalo hasil satuan + satuan > 10 ya tinggal tambahin ke hasil jumlah puluhan <br>\n</p>",
  :template-id "8adb2d70406011eb922226635d7a8a5f",
  :topic :math,
  :problem-id "565ba2bf468611eba53b81e59324e143"}
 ]